# Env
.env

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
pex-retail-api

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
vendor/

# Data
data/rakuten

# Vim
tags
vim-session

download.lock
upload.lock
*.log
